[Unit]
Description=Set the correct permission for flashlight sysfs node
Before=phosh.service
After=lxc@android.service
Depends=lxc@android.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=chown manjaro:manjaro -R /sys/devices/platform/soc/soc:i2c@1/i2c-23/23-0059/s2mpb02-led/leds/torch-sec1/

[Install]
WantedBy=graphical.target
